@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #ced4da;
    font-family: "Roboto Condensed", sans-serif;
}

.divider {
    transform: scaleY(0.5);
    background-color: black;
    width: 100%;
    height: 0.5px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-bottom: 15px;
}

.navbar h1 {
    color: #343a40;
    font-size: clamp(10px, 5vw, 30px);
}
.linkslist {
    display: flex;
    gap: 25px;
}

.linktype a {
    color: #343a40;
    font-size: clamp(10px, 5vw, 20px);
}

.aboutbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
}

.aboutcontent {
    text-align: center;
    color: #343a40;
}

.aboutcontent h1 {
    font-size: clamp(20px, 50px, 160px);
}

.aboutcontent p {
    font-size: clamp(10px, 24px, 80px);
}

.aboutbuttons {
    margin-top: 5px;
    display: flex;
    gap: 10px;
}

.solicited-button {
    height: clamp(20px, 50px, 80px);
    width: clamp(20px, 150px, 180px);
    border-radius: 10px;
    border: 2px solid #343a40;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
}

.about-button {
    height: clamp(20px, 50px, 80px);
    width: clamp(20px, 150px, 180px);
    border: transparent;
    background-color: rgb(14, 14, 14);
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;

    cursor: pointer;
}

.linktype a {
    color: #343a40;
    font-size: clamp(10px, 5vw, 20px);
    position: relative;
}

.linktype a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background: #343a40;
    transition: width 0.3s;
}

.linktype a:hover::after {
    width: 100%;
}

.solicited-button:hover {
    transform: translateY(-0.8px);
}

.about-button:hover {
    transform: translateY(-0.8px);
}
